<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Food delivery in Lagos - Wakis</title>
    <meta name="description" content="" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Wakis Styles -->
    <link href="css/style.css" rel="stylesheet">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="container-fluid header-background">
        <div class="row">
            <nav class="navbar navbar-default wakis-nav">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="material-icons">menu</i>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="img/wakis-logo.png" class="img img-responsive" alt="Wakis Logo - Home link" /></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="listing.html">Restaurants</a></li>
                            <li><a href="about.html">How it works</a></li>
                            <li><a href="posts.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="login.html">Login | Register</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">shopping_basket</i> 0 Items <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Item 1 - $0.00</a></li>
                                    <li><a href="#">Item 2 - $0.00</a></li>
                                    <li><a href="#">Item 3 - $0.00</a></li>
                                    <li><a href="#">Item 4 - $0.00</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <div class="text-center col-xs-12 text-uppercase">
                        <h2 class="text-shadow">Tastes like home</h2>
                    </div>
                </div>

                <div class="row counter-div text-shadow hidden-xs">
                    <div class="col-sm-4"><span class="wakis-orange-txt counter-txt timer" data-from="0" data-to="5500"></span> Restaurants</div>
                    <div class="col-sm-4"><span class="wakis-orange-txt counter-txt timer" data-from="0" data-to="2000"></span> Meals served</div>
                    <div class="col-sm-4"><span class="wakis-orange-txt counter-txt timer" data-from="0" data-to="500"></span> Users</div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group search-bar">
                            <input type="search" class="form-control input-lg" placeholder="Enter a keyword (Location, Food, Restaurant)">
                            <span class="input-group-btn">
                                <a href="listing.html" class="btn btn-lg btn-default" type="button"><i class="material-icons">search</i></a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-right">
                        <a href="">
                            <img src="img/icon-google-play.png" class="app-icon" alt="Download on Google play" />
                        </a>
                    </div>
                    <div class="col-xs-6 text-left">
                        <a href="">
                            <img src="img/itunes-app-store-logo.png" class="app-icon" alt="Download on Apple store" />
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center text-uppercase">
                    <h3 class="bold">
                        How it works
                    </h3>
                </div>
            </div>

            <div class="row top-30">
                <div class="col-sm-3 pad-0-30">
                    <div class="row">
                        <div class="col-xs-12 how-thumbs text-center">
                            <p style="margin-top:-10px;"><span class="orange-marker">1</span></p>
                            <p><i class="material-icons how-thumbs-icon">place</i></p>
                            <p><span class="bold" style="font-size:20px;">Search</span> for what you want to eat. No restrictions</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 pad-0-30">
                    <div class="row">
                        <div class="col-xs-12 how-thumbs text-center">
                            <p style="margin-top:-10px;"><span class="orange-marker">2</span></p>
                            <p><i class="material-icons how-thumbs-icon">restaurant_menu</i></p>
                            <p><span class="bold" style="font-size:20px;">Pick</span> excting meals from hundreds of menus </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 pad-0-30">
                    <div class="row">
                        <div class="col-xs-12 how-thumbs text-center">
                            <p style="margin-top:-10px;"><span class="orange-marker">3</span></p>
                            <p><i class="material-icons how-thumbs-icon">credit_card</i></p>
                            <p><span class="bold" style="font-size:20px;">Pay</span> by cash, POS and debit/credit cards </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 pad-0-30">
                    <div class="row">
                        <div class="col-xs-12 how-thumbs text-center">
                            <p style="margin-top:-10px;"><span class="orange-marker">4</span></p>
                            <p><i class="material-icons how-thumbs-icon">motorcycle</i></p>
                            <p><span class="bold" style="font-size:20px;">Enjoy</span> your meal. delivered toyour wherever you want</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="wrap pop-restaurant">
        <div class="brown-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center text-uppercase">
                        <h3 class="bold white-txt text-shadow">
                            MOST POPULAR RESTAURANTS
                        </h3>
                    </div>
                </div>

                <div class="row top-30">
                    <div class="col-sm-6 pad-0-30">
                        <div class="row">
                            <a href="restaurant.html">
                                <div class="col-xs-12 pop-thumbs">
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img src="img/restaurant-logos/tantalizers.png" class="img img-responsive" style="float:none;" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h4 class="bold">Tanatalizers (Opebi)</h4>
                                            <p>No 25, Opebi link road, Pata Pata bus stop</p>
                                            <p class="rating"><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-grey">sentiment_very_satisfied</i> 5 Reviews</p>

                                            <p class="grey-txt"><small>African dishes, Continental</small></p>
                                        </div>

                                        <div class="col-sm-1 text-center">
                                            <p>
                                                <i class="material-icons wakis-orange-txt">message</i>
                                            </p>
                                            <p>
                                                <i class="material-icons wakis-orange-txt">phone</i>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 pad-0-30">
                        <div class="row">
                            <a href="restaurant.html">
                                <div class="col-xs-12 pop-thumbs">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="img/restaurant-logos/tfc.png" class="img img-responsive" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h4 class="bold">Tanatalizers (Opebi)</h4>
                                            <p>No 25, Opebi link road, Pata Pata bus stop</p>
                                            <p class="rating"><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-grey">sentiment_very_satisfied</i> 5 Reviews</p>

                                            <p class="grey-txt"><small>African dishes, Continental</small></p>
                                        </div>

                                        <div class="col-sm-1 text-center">
                                            <p>
                                                <i class="material-icons wakis-orange-txt">message</i>
                                            </p>
                                            <p>
                                                <i class="material-icons wakis-orange-txt">phone</i>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 pad-0-30">
                        <div class="row">
                            <a href="restaurant.html">
                                <div class="col-xs-12 pop-thumbs">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="img/restaurant-logos/mamcass.png" class="img img-responsive" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h4 class="bold">Tanatalizers (Opebi)</h4>
                                            <p>No 25, Opebi link road, Pata Pata bus stop</p>
                                            <p class="rating"><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-grey">sentiment_very_satisfied</i> 5 Reviews</p>

                                            <p class="grey-txt"><small>African dishes, Continental</small></p>
                                        </div>

                                        <div class="col-sm-1 text-center">
                                            <p>
                                                <i class="material-icons wakis-orange-txt">message</i>
                                            </p>
                                            <p>
                                                <i class="material-icons wakis-orange-txt">phone</i>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 pad-0-30">
                        <div class="row">
                            <a href="restaurant.html">
                                <div class="col-xs-12 pop-thumbs">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="img/restaurant-logos/tantalizers.png" class="img img-responsive" />
                                        </div>
                                        <div class="col-sm-8">
                                            <h4 class="bold">Tanatalizers (Opebi)</h4>
                                            <p>No 25, Opebi link road, Pata Pata bus stop</p>
                                            <p class="rating"><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-gold">sentiment_very_satisfied</i><i class="material-icons star-grey">sentiment_very_satisfied</i> 5 Reviews</p>

                                            <p class="grey-txt"><small>African dishes, Continental</small></p>
                                        </div>

                                        <div class="col-sm-1 text-center">
                                            <p>
                                                <i class="material-icons wakis-orange-txt">message</i>
                                            </p>
                                            <p>
                                                <i class="material-icons wakis-orange-txt">phone</i>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="listing.html" class="btn btn-lg btn-warning brow-btn">View All</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="wrap down-30">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center text-uppercase">
                    <h3 class="bold">
                        From the blog
                        <small>
                            <a href="posts.html" class="wakis-orange-txt">/View all</a>
                        </small>
                    </h3>

                </div>
            </div>

            <div class="row top-30">
                <div class="col-sm-3  news-home" ng-repeat="news in featurednews">
                    <div class="row">

                        <div class="col-xs-12">
                            <img src="img/nyny-breakfast-10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-xs-12">
                            <small class="grey-txt"><i class="material-icons">access_time</i> Tue, 24-09-2016: 20:00</small>
                            <h4 class="bold">
                                10 African Dishes for the weight watchers
                            </h4>
                            <p class="grey-txt">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc nisi ligula, suscipit
                                a ultricies et, finibus fermentum odio.
                                Quisque volutpat laoreet mauris, et
                                bibendum ipsum dictum et.
                            </p>
                            <p>
                                <a href="post.html" class="wakis-orange-txt text-underline"> Read more +</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3  news-home" ng-repeat="news in featurednews">
                    <div class="row">

                        <div class="col-xs-12">
                            <img src="img/nyny-breakfast-10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-xs-12">
                            <small class="grey-txt"><i class="material-icons">access_time</i> Tue, 24-09-2016: 20:00</small>
                            <h4 class="bold">
                                10 African Dishes for the weight watchers
                            </h4>
                            <p class="grey-txt">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc nisi ligula, suscipit
                                a ultricies et, finibus fermentum odio.
                                Quisque volutpat laoreet mauris, et
                                bibendum ipsum dictum et.
                            </p>
                            <p>
                                <a href="post.html" class="wakis-orange-txt text-underline"> Read more +</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3  news-home" ng-repeat="news in featurednews">
                    <div class="row">

                        <div class="col-xs-12">
                            <img src="img/nyny-breakfast-10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-xs-12">
                            <small class="grey-txt"><i class="material-icons">access_time</i> Tue, 24-09-2016: 20:00</small>
                            <h4 class="bold">
                                10 African Dishes for the weight watchers
                            </h4>
                            <p class="grey-txt">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc nisi ligula, suscipit
                                a ultricies et, finibus fermentum odio.
                                Quisque volutpat laoreet mauris, et
                                bibendum ipsum dictum et.
                            </p>
                            <p>
                                <a href="post.html" class="wakis-orange-txt text-underline"> Read more +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3  news-home" ng-repeat="news in featurednews">
                    <div class="row">

                        <div class="col-xs-12">
                            <img src="img/nyny-breakfast-10.jpg" class="img-responsive" />
                        </div>
                        <div class="col-xs-12">
                            <small class="grey-txt"><i class="material-icons">access_time</i> Tue, 24-09-2016: 20:00</small>
                            <h4 class="bold">
                                10 African Dishes for the weight watchers
                            </h4>
                            <p class="grey-txt">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc nisi ligula, suscipit
                                a ultricies et, finibus fermentum odio.
                                Quisque volutpat laoreet mauris, et
                                bibendum ipsum dictum et.
                            </p>
                            <p>
                               <a href="post.html" class="wakis-orange-txt text-underline"> Read more +</a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>


    <footer>
        <div class="wrap grey-back">
            <div class="container">
                <div class="row footer-links">
                    <div class="col-sm-3">
                        <h4 class="bold">Popular Areas</h4>
                        <ul>
                            <li><a href="listing.html">#Lekki</a></li>
                            <li><a href="listing.html">#Ikeja</a></li>
                            <li><a href="listing.html">#Ikorodu</a></li>
                            <li><a href="listing.html">#Ajah</a></li>
                            <li><a href="listing.html">#Surulere</a></li>
                        </ul>

                    </div>

                    <div class="col-sm-3">
                        <h4 class="bold">Popular Dishes</h4>
                        <ul>
                            <li><a href="restaurant.html">#Moi-moi and Chicken</a></li>
                            <li><a href="restaurant.html">#AmalaAndGbegiri</a></li>
                            <li><a href="restaurant.html">#ChineseDishes</a></li>
                            <li><a href="restaurant.html">#TopperSalad</a></li>
                            <li><a href="restaurant.html">#Smoothies</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h4 class="bold">Popular Restaurants</h4>
                        <ul>
                            <li><a href="restaurant.html">#TasteeFriedChicken</a></li>
                            <li><a href="restaurant.html">#MamaCass</a></li>
                            <li><a href="restaurant.html">#Monalisa'sPlace</a></li>
                            <li><a href="restaurant.html">#IyaAmala</a></li>
                            <li><a href="restaurant.html">#KFC</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h4 class="bold">Quick Links</h4>
                        <ul>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="generic-sample.html">Partner Information</a></li>
                            <li><a href="generic-sample.html">Terms and Conditions</a></li>
                            <li><a href="generic-sample.html">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>

        <div class="wrap wakis-brown footer-end">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group search-bar">
                            <input type="search" class="form-control input-md" placeholder="Subscribe to our newsletter">
                            <span class="input-group-btn">
                                <button class="btn btn-md btn-default" type="button"><i class="material-icons" style="font-size:22px;">mail</i></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3 text-right" style="float:right;">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook-square grey-txt"></i></a>
                            <a href="#"><i class="fa fa-twitter-square grey-txt"></i></a>
                            <a href="#"><i class="fa fa-instagram grey-txt"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square grey-txt"></i></a>
                        </div>


                        <small class="white-txt">
                            &copy; 2016. Wakis
                        </small>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            var sc = $(window).scrollTop()
            if (sc > 50) {
                $(".wakis-nav").addClass("fixed-header")
            } else {
                $(".wakis-nav").removeClass("fixed-header")
            }
        });
        $('.timer').countTo();
    </script>
</body>
</html>
